{% extends 'pages/base.html' %}
{% load static %}

{% block content %}


<body>
    {% include 'blog/header.html' %}

            
            <div style="margin-left: 250px; margin-right: 250px;">
                
              
                <div class="container">
                <div class="row ng-scope">
                    <div class="col-md-3 col-md-push-9">
                        <h4>Results For <span class="fw-semi-bold"><b>{{username}}</b></span></h4>
                        <br>
                
                    </div>
                    <div class="col-md-9 col-md-pull-3">
                        <!-- <p class="search-results-count">About 94 700 000 (0.39 sec.) results</p> -->
                        
                        {% for users in username_profile_list %}
                        <section>
                            <a class="image-link" href="/profile/{{users.user}}"><img src="{{users.profileimg.url}}" style="height: 80px;">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class=""><a href="/profile/{{users.user}}"><b>@{{users.user}}</b></a></h4>
                                        <p class="info">{{users.location}}</p>
                                        <p >{{users.bio}}</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </section>
                        {% endfor %}
                        
                     
                    </div>
                </div>
                </div>
            </div>

        </div>

    </div>

</body>


{% endblock content %}